
body {
	background-color: #333;
	color: #fff;
}

input{
	outline: none;
  box-shadow:none !important;
  	color: #fff;
}

input[type=text] {
   color: #fff;
}

/*

	HEADER

*/

#logo{
	width: 20em;
	margin: 2em auto;
}
#logo img{
	float: left;
	margin-right: 1em;
}
#logo h1{
	float: right;
	margin-top: 0.3em;
	font-family: 'Exo 2', sans-serif;
	color: #fff;
}

/*

	BODY

*/

/*

	STARTING PAGE

*/

#info{
	margin: 2em auto;
	display: none;
}

#textbox-div{
	margin: 10% auto;
}

#textbox-div #soundcloud-url{
	width: 35em;
	float: left;
	background: none;
	border: none;
	outline: none;
	border-bottom: 3px solid #fff;
	margin-left: 10%;
}
#textbox-div #soundcloud-url:focus{
	outline: none;
	border-bottom: 3px solid #fff;
}
#textbox-div #soundcloud-submit{
	float: left;
	margin-left: 2em;
}

#select-mix-styles {
	margin: 0 auto;
}
#select-mix-styles div{
	border: 2px solid #fff;
	margin-right: 1em;
	padding: 0.5em;
}
#select-mix-styles img{
	width: 2.5em;
	height: 2.5em;
	margin-right: 0.3em;
}

#select-mix-styles .selected, #select-mix-styles div:hover{
	-moz-box-shadow:    0px 0px 3px 3px #fff;
	-webkit-box-shadow: 0px 0px 3px 3px #fff;
	box-shadow:         0px 0px 3px 3px #fff;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#waveform #play, #waveform #stop, #waveform #select-mix-styles,
#waveform #start-mixing {
	display: none;
}

#waveform #start-mixing {
	float: right;
}

#select-mix-styles div{
	float: left;
}

#playback-controls{
	width: 20em;
	margin: 0 auto;
}
#playback-controls button{
	margin-left: 1em;
}
/*

	MIDI CONTROLLER PAGE

*/

#acapella-midi-controls, #dj-effects-midi-controls{
	display: none;
}

#music-dashboard {
	background-color: #333;
	height: 30em;
}
#music-dashboard #left{
	float: left;
}
#music-dashboard #right{
	float: right;
}

#acapella-midi-controls, #dj-effects-midi-controls{
	margin: 2em auto;
}

#acapella-midi-controls a , #dj-effects-midi-controls a {
	border: 2px solid #5ebbc2;
	background-color: #333;
	margin-left: 1em;
	width: 5em;
}

#background-instrumental{
	height: 20em;
}

#acapella-midi-controls a:hover , #dj-effects-midi-controls a:hover,
#acapella-midi-controls a.pressed , #dj-effects-midi-controls a.pressed {
	-moz-box-shadow:    0px 0px 3px 3px #5ebbc2;
	-webkit-box-shadow: 0px 0px 3px 3px #5ebbc2;
	box-shadow:         0px 0px 3px 3px #5ebbc2;
}

#dj-effects-midi-controls div{
	width: 35em;
	margin: 0 auto;
}

/*

	FOOOTER

*/
footer p{
	text-align: center;
	padding-bottom: 1em;
}