{% extends "layout.html" %}
{% block content %}

    <div id="header" class="row">

      <div class="large-12 columns">
        <div id="logo">
	  <a href="./">
	   <img src="./static/img/logo.png" />
           <h1>BANANAZ</h1>
	  </a>
        </div>
      </div>

    </div><!-- #header -->

   <div id="about">

     	<p> A web MIDI controller and mashup machine inspired by <a href="http://www.youtube.com/watch?v=lTx3G6h2xyA"><strong>pop culture</strong></a> and <a href="http://www.youtube.com/watch?v=axqL0m6DNhU"><strong>toxic skyfall</strong></a>.
	</p> 
	<p>
	The stack: 
	<ul>
	  <li><a href="http://soundcloud.com/"><strong>Soundcloud</strong></a> for song input</li>
	  <li><a href="http://echonest.github.io/remix/javascript.html"><strong>Remix.js</strong></a> and <a href="http://echonest.com/"><strong>Echonest</strong></a> for remixing</li>
	  <li><a href="http://wavesurfer.fm/"><strong>Wavesurfer.js</strong></a> for waveforms</li>
	  <li><a href="http://foundation.zurb.com/"><strong>Foundation</strong></a> CSS</li>
	  <li><a href="http://flask.pocoo.org/"><strong>Flask</strong></a> backend</li>
	</ul>
	</p>
	<p>
	The people:
	<ul>
	  <li><a href="http://www.kathyzhou.com/"><strong>Kathy Zhou</strong></a></li>
	  <li><a href="http://www.twitter.com/karthikramen"><strong>Karthik Sethuraman<strong></a></li>
	</ul>
	</p>

  </div>

	<footer>
        <p>Find us on <a href="http://github.com/kseth/Bananaz"><strong>Github</strong></a></p>
	</footer>

{% endblock %}
