{% extends "layout.html" %}
{% block content %}


    <div id="header" class="row">

      <div class="large-12 columns">
        <div id="logo">
          <h1>BANANAZ</h1>
        </div>
      </div>

    </div><!-- #header -->

    <div id="music-dashboard" class="row">

    	<!-- hidden -->
        <div id="acapella-midi-controls" class="large-12 columns">
          <div id="left">
            <a href="#" class="button" id="Q">Q</a>
            <a href="#" class="button" id="W">W</a>
            <a href="#" class="button" id="E">E</a>
            <a href="#" class="button" id="R">R</a>
          </div>

          <div id="right">
            <a href="#" class="button" id="A">A</a>
            <a href="#" class="button" id="S">S</a>
            <a href="#" class="button" id="D">D</a>
            <a href="#" class="button" id="F">F</a>
          </div>
        </div>

		<div id="info" class="large-12 columns"></div>
		<div id="textbox-div">
		    <input type="text" id="soundcloud-url" />
		    <input type="submit" id="soundcloud-submit" class="button" value="Upload" />
		</div>


		<!-- This is the waveform div with play and stop buttons-->
		<div id='waveform'>
			<form id="select-mix-styles">
				<div>
					<input type="radio" name="remix-style" id="no-mix">
					<img src="./static/img/no-mix.svg" height="50">No mix<br>
				</div>

				<div>
					<input type="radio" name="remix-style" id="dice">
					<img src="./static/img/dice.svg" height="50">Dice<br>
				</div>

				<div>
					<input type="radio" name="remix-style" id="reverse">
					<img src="./static/img/reverse.svg" height="50">Reverse<br>
				</div>

				<div>
					<input type="radio" name="remix-style" id="scramble">
					<img src="./static/img/scramble.svg" height="50">Scramble<br>
				</div>

				<div>
					<input type="radio" name="remix-style" id="slice">
					<img src="./static/img/slice.svg" height="50">Slice<br>
				</div>


				<div>
					<input type="radio" name="remix-style" id="twins">
					<img src="./static/img/twins.svg" height="50">Twins<br>
				</div>

				<div>
					<input type="radio" name="remix-style" id="random">
					<img src="./static/img/random.svg" height="50">Random<br>
				</div>

			</form><!-- #select-mix-styles -->
			<h2>Remixed Track</h2>
			<canvas id='wave' width='1000px' height='150px'></canvas>
			<br />
			<button id="play" class='btn btn-inverse btn-original'>Play</button>
			<button id="stop" class='btn btn-original'>Stop</button>

			<button id="start-mixing" class='btn btn-original'>Start Mixing >></button>


			<!-- HIDDEN -->
	        <div id="dj-effects-midi-controls" class="large-8 columns">
	          <a href="#" class="button" id="H">H</a>
	          <a href="#" class="button" id="J">J</a>
	          <a href="#" class="button" id="K">K</a>
	          <a href="#" class="button" id="L">L</a>
	          <a href="#" class="button" id="M">M</a>
	        </div>

		</div>

	</div><!-- #music-dashboard -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="./static/js/wavesurfer.js"></script>
<script src="./static/js/drawer.js"></script>
<script src='./static/js/remix.js'></script>
<script src="./static/js/main-home.js"></script>

<script src="./static/js/main-midi.js"></script>
<script>
  $(document).foundation();
</script>
{% endblock %}
